<!-- day.html-->
<ons-page id="day-page" ng-controller="CalendarControllerD">
  <ons-toolbar>
    <div class="left"><ons-back-button>Month</ons-back-button></div>
    <div class="center">Details</div>
  </ons-toolbar>
  
  <!-- 概要見出し -->
  <ons-list modifier="inset" style="margin-top: 10px">
    <ons-list-header>{{day.date | date:'yyyy年MM月dd日'}}の様子</ons-list-header>
    <ons-list-item class="item">
      <ons-row>
        <ons-col width="60px"> 
          <div class="item-thum"></div>
        </ons-col>
        <ons-col>
          <header>
            <span class="item-title">{{day.date | date:'yyyy/MM/dd'}}</span>
            <span class="item-label">{{day.date | date:'HH:mm'}}</span>
          </header>
          <p class="item-desc">{{day.memo}}</p>
        </ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>

  <!-- food -->
  <ons-list modifier="inset" style="margin-top: 10px">
    <ons-list-header>ごはん</ons-list-header>
    <ons-list-item class="item" ng-repeat="item in day.food">
      <ons-row>
        <ons-col>
          <header>
            <span class="item-title">時間：{{item.date | date:'HH:mm'}}</span><br/>
            <span class="item-title">量　：{{item.amount}}</span></br>
          </header>
          <p class="item-desc">{{item.memo}}</p>
        </ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="doSomething()">
      <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
      Add a item
    </ons-list-item>
  </ons-list>

  <!-- medicine -->
  <ons-list modifier="inset" style="margin-top: 10px">
    <ons-list-header>おくすり</ons-list-header>
    <ons-list-item class="item" ng-repeat="item in day.medicine">
      <ons-row>
        <ons-col>
          <header>
            <span class="item-title">時間：{{item.date | date:'HH:mm'}}</span><br/>
            <span class="item-title">量　：{{item.amount}}</span></br>
          </header>
          <p class="item-desc">{{item.memo}}</p>
        </ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="doSomething()">
      <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
      Add a item
    </ons-list-item>
  </ons-list>
        
  <br>

</ons-page>
