<!-- month.html-->
<ons-page id="month-page">
  <ons-toolbar>
    <div class="left"><ons-back-button>Year</ons-back-button></div>
    <div class="center">Month</div>
  </ons-toolbar>

  <ons-list ng-controller="CalendarControllerM">
    <ons-list-item modifier="chevron" class="item" ng-repeat="day in days" ng-click="showDay($index)">
      <ons-row>
        <ons-col width="60px"> 
          <div class="item-thum"></div>
        </ons-col>
        <ons-col>
          <header>
            <span class="item-title">{{day.date | date:'yyyy/MM/dd'}}({{day.day}})</span>
          </header>
          <p class="item-desc">{{day.eto}}</p>
        </ons-col>
      </ons-row>                          
    </ons-list-item>
  </ons-list>
</ons-page>
