<ons-page id="settings-page">
  <ons-toolbar>
      <div class="center">Settings</div>
  </ons-toolbar>
  
  <ons-list modifier="inset" style="margin-top: 10px">
    <ons-list-item ng-controller="DialogController" ng-click="show('themelist.html')" modifier="tappable">
      テーマ
    </ons-list-item>
  </ons-list>
</ons-page>

<ons-template id="themelist.html">
  <ons-dialog var="dialog" ng-controller="ThemelistController" cancelable>
    <ons-list>
      <ons-list-item ng-repeat="themeList in config.theme" modifier="tappable">
        <label class="radio-button radio-button--list-item" style="color: #000000">
          <input type="radio" ng-click="select(themeList)" name="theme" ng-value="themeList.value" check-on="themeList.selected=='checked'" radio-check>
          <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
          {{themeList.name}}
        </label>
      </ons-list-item>
    </ons-list>
  </ons-dialog>
</ons-template>
